$color-base-1: #04142c;
$color-base-2: #0b1b41;
$color-primary-1: #ca8edc;
$color-primary-2: #8c85f0;

$color-primary-text: #fff;
$color-secondary-text: #3963b8;
$color-tertiary-text: #b0c0e1;

$color-grey-1: #777;

$max-width: 140rem;

$primary-img-width: 100%;
$secondary-img-width: 75%;

$padding-sections: 5.4rem 4rem;
$padding-sections-responsive: 7.4rem 2.2rem;

$grid-gap-sm: 3.6rem;

$media-1: 81.25em;
$media-2: 73.75em;
$media-3: 61.25em;
$media-4: 50em;
$media-5: 37.5em;
$media-6: 28.125em;
