.grid--2-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr) // align-items: center;
}

.grid--3-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-row {
    grid-template-rows: 0.1fr 0.1fr;
}

.grid-gap-sm {
    gap: $grid-gap-sm
}