.u-margin-bottom-sm {
    margin-bottom: 2.4rem !important
}

.u-margin-bottom-tiny {
    margin-bottom: 0.6rem;
}

.u-margin-bottom-md {
    margin-bottom: 3.6rem !important
}

.u-border-bottom {
    border-bottom: 1px solid #777 !important
}

.u-padding-bottom-sm {
    padding-bottom: 1.4em !important
}

.u-margin-top-sm {
    margin-top: 2.4rem !important
}

.u-width {
    width: 100% !important
}

.u-center {
    text-align: center !important
}

.flex-btw {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.j-center {
    justify-items: center;
}

.a-center {
    align-items: centert;
}

.padding-sm {
    padding: 0.6rem 3.2rem !important
}